<h1 mat-dialog-title>Edit Task</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="data.title" name="title" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="data.description" name="description" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Status</mat-label>
    <input matInput [(ngModel)]="data.status" name="status" required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>
